USE [master]
GO
/****** Object:  Database [WardrobeProjectV2]    Script Date: 7/27/2018 12:53:32 PM ******/
CREATE DATABASE [WardrobeProjectV2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WardrobeProjectV2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WardrobeProjectV2.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WardrobeProjectV2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WardrobeProjectV2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WardrobeProjectV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WardrobeProjectV2]
GO
/****** Object:  Table [dbo].[Accessories]    Script Date: 7/27/2018 12:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accessories](
	[AccessoryID] [int] IDENTITY(1,1) NOT NULL,
	[AName] [nvarchar](50) NULL,
	[APhoto] [nvarchar](100) NULL,
	[AType] [nvarchar](50) NULL,
	[AColor] [nvarchar](50) NULL,
	[ASeason] [nvarchar](50) NULL,
	[AOccasion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Accessories] PRIMARY KEY CLUSTERED 
(
	[AccessoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bottoms]    Script Date: 7/27/2018 12:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bottoms](
	[BottomID] [int] IDENTITY(1,1) NOT NULL,
	[BName] [nvarchar](50) NULL,
	[BPhoto] [nvarchar](100) NULL,
	[BType] [nvarchar](50) NULL,
	[BColor] [nvarchar](50) NULL,
	[BSeason] [nvarchar](50) NULL,
	[BOccasion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Bottoms] PRIMARY KEY CLUSTERED 
(
	[BottomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Shoes]    Script Date: 7/27/2018 12:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shoes](
	[ShoeID] [int] IDENTITY(1,1) NOT NULL,
	[SName] [nvarchar](50) NULL,
	[SPhoto] [nvarchar](100) NULL,
	[SType] [nvarchar](50) NULL,
	[SColor] [nvarchar](50) NULL,
	[SSeason] [nvarchar](50) NULL,
	[SOccasion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Shoes] PRIMARY KEY CLUSTERED 
(
	[ShoeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tops]    Script Date: 7/27/2018 12:53:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tops](
	[TopId] [int] IDENTITY(1,1) NOT NULL,
	[TName] [nvarchar](50) NULL,
	[TPhoto] [nvarchar](100) NULL,
	[TType] [nvarchar](50) NULL,
	[TColor] [nvarchar](50) NULL,
	[TSeason] [nvarchar](50) NULL,
	[TOccasion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tops] PRIMARY KEY CLUSTERED 
(
	[TopId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
